.form-login {
	width: 50%;
	margin: auto;
}

.form-login p {
	text-align: center;
}

.form-login input {
	width: 70%;
}

.form-login input[type="submit"] {
	width: 40%;
}

.form-login input[type="checkbox"] {
	width: 40%;
	margin: auto;
}

/** SWITCH */

.checkartista {
	width: 50%;
}

.checklabel {
	float: left;
	width: auto;
	margin-right: 40px;
}

.checklabel-ativo {
	font-weight: bold;
	color: #DBBE95;
}

.checklabel2 {
	margin-left: 0;
}

.onoffswitch {
    position: relative; width: 55px; height: 20px; float: left;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 20px; padding: 0; line-height: 20px;
    border: 0px solid #FFFFFF; border-radius: 30px;
    background-color: #9E9E9E;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 30px; margin: -5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 31px;
    border-radius: 30px;
    box-shadow: 0 6px 12px 0px #757575;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #DBBE95;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #DBBE95;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
    background-color: #BB8E53; 
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}